@model MeetingItem


<h2>Edit Meeting Item : @Model.Description</h2>

<form method="post">
    <table border="1" cellpadding="10">
        <tr>
            <td>Description :</td>
            <td>@Model.Description</td>
        </tr>
        <tr>
            <td>Requested By :</td>
            <td>@Model.RequestedBy</td>
        </tr>
        <tr>
            <td>Deadline</td>
            <td>@Model.Deadline</td>
        </tr>
        <tr>
            <td>Change Requested</td>
            <td>@Model.ChangeRequested</td>
        </tr>
        <tr>
            <td>Assigned To</td>
            <td>@Model.AssignedTo</td>
        </tr>
        <tr>
            <td>Visible in minutes</td>
            <td>@Model.VisibleInMinutes</td>
        </tr>
        <tr>
            <td>Risk Level</td>
            <td>@Model.RiskLevelid</td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit"
                       class="btn customBtnPurple"
                       value="Edit"
                       asp-controller="MeetingItems"
                       asp-action="UpdateEntry"
                       asp-route-meetingid="@Model.Meetingid"
                       asp-route-meetingitemid="@Model.MeetingItemID"/>

                <input type="submit"
                       class="btn customBtnPurple"
                       value="Delete"
                       asp-controller="MeetingItems"
                       asp-action="Delete"
                       asp-route-meetingid="@Model.Meetingid" 
                       asp-route-meetingitemid="@Model.MeetingItemID"/>

                <input type="submit"
                       class="btn customBtnPurple"
                       value="Cancel"
                       asp-controller="MeetingItems"
                       asp-action="CancelSelection"
                       asp-route-meetingid="@Model.Meetingid" />
                
            </td>
        </tr>
    </table>
</form>
