@model MeetingItem

<h2>Edit Team Member : @Model.Description</h2>

<form method="post">
    <table border="1" cellpadding="10">
        <tr>
            <td>Meeting ID :</td>
            <td>
                <input type="text" asp-for="Meetingid" readonly />
            </td>
        </tr>
        <tr>
            <td>Team Member ID :</td>
            <td>
                <input type="text" asp-for="MeetingItemID" readonly />
            </td>
        </tr>
        <tr>
            <td>Description :</td>
            <td><input type="text" asp-for="Description" /></td>
        </tr>
        <tr>
            <td>Requested By :</td>
            <td><input type="text" asp-for="RequestedBy" /></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit"
                       value="Save"
                       asp-controller="MeetingItems"
                       asp-action="UpdateSave"
                       asp-route-meetingid="@Model.Meetingid"
                       asp-route-meetingitemid="@Model.MeetingItemID"/>

                <input type="submit"
                       value="Cancel"
                       asp-controller="MeetingItems"
                       asp-action="CancelEntry"
                       asp-route-meetingid="@Model.Meetingid"
                       asp-route-meetingitemid="@Model.MeetingItemID"/>
            </td>
        </tr>
    </table>
</form>