@model MeetingMinutes.Models.MeetingViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Meeting</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateUpdated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateUpdated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MeetingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MeetingDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MeetingParticipants)
        </dt>
        <dd class = "col-sm-10">
            @foreach(var participant in Model.MeetingParticipants)
            {
                if (participant.IsChecked)
                {
                    <div>@participant.FullName</div>
                }
            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExternalParticipants)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExternalParticipants)
        </dd>
    </dl>
</div>
<div class="linkHoverGrey">
     <a class="anchorTagsPurple" asp-controller="MeetingItems" asp-action="ListItems" asp-route-meetingId="@Model.MeetingID">Meeting Notes Details</a>
    <span class="pl-2"> | </span>
     <!-- COMMENT OUT -->
    <!--<a asp-action="Edit" asp-route-id="@Model.MeetingID">Edit</a> | -->
    <a class="anchorTagsPurple" href='javascript:history.go(-1)'>Back to List</a>
</div>
