@model IEnumerable<MeetingMinutes.Models.MeetingViewModel>

@{
    ViewData["Title"] = "HistoryList";
}

<h2><b>Past Meetings</b></h2>
<hr class="pb-3"/>

@if (!Model.Any()){
     <tr><td colspan="4">There are no Past Meetings. 

    </td></tr>
}
else{
    <table border="1" cellpadding="10">
        <thead>
            <tr bgcolor="#845460" style="color:#EAD3CB;">
                <th>
                    @Html.DisplayNameFor(model => model.CreatedBy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateUpdated)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MeetingDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MeetingParticipants)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ExternalParticipants)
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateUpdated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MeetingDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                @foreach(var participant in item.MeetingParticipants)
                {
                    if (participant.IsChecked)
                    {
                        <div>@participant.FullName</div>
                    }
                }</td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExternalParticipants)
                </td>
                <td class="linkHoverGrey">                
                    <a class="anchorTagsPurple" asp-action="Details" asp-route-id="@item.MeetingID">Details</a>                 
                </td>
            </tr>
    }
        </tbody>
    </table>
}
