@model MasterDetailViewModel
@{
    <h1><b>@Model.SelectedMeeting.Title</b></h1>
}

<form method="post">

    <br>

    <table border="1" cellpadding="10">
        <tr bgcolor="#845460" style="color:#EAD3CB;">
            
            <th>Created By</th>
            <th>Meeting Date</th>
            <th>External Participants</th>
            <th colspan="2">Actions</th>
        </tr>

        
        @foreach (var item in Model.Meetings)
        {
            if (Model.SelectedMeeting != null)
            {
                if (item.MeetingID == Model.SelectedMeeting.MeetingID)
                {
                    @:<tr class="SelectedRow">

                
                
                <td>@item.CreatedBy</td>
                <td>@item.MeetingDate</td>
                <td>@item.ExternalParticipants</td>
                <!-- <td>
                    <input type="submit"
                           value="Manage Meeting"
                           asp-controller="Meetings"
                           asp-action="Select"
                           asp-route-meetingid="item.MeetingID" />
                </td> -->
                <td>
                    <input class="btn customBtnPurple"
                           type="submit"
                           value="Manage Items"
                           asp-controller="MeetingItems"
                           asp-action="List"
                           asp-route-meetingid="@item.MeetingID" />
                
                
                <input class="btn customBtnPurple"
                       type="submit"
                       value="Finish"
                       asp-controller="Meetings"
                       asp-action="Finish"
                       asp-route-id="@item.MeetingID" />
                </td>
                }
                else
                {
                    @:<tr>
                }
             }
            else
            {
                @:<tr>
            }
                
            @:</tr>
        }
    </table>
</form>
<br>
<hr>


@{
    if (Model.DataEntryTarget == DataEntryTargets.Meetings)
    {
        if (Model.SelectedMeeting != null)
        {
            if (Model.DataDisplayMode == DataDisplayModes.Read)
            {
                await Html.RenderPartialAsync("_ShowMeeting", Model.SelectedMeeting);
            }
            if (Model.DataDisplayMode == DataDisplayModes.Update)
            {
                await Html.RenderPartialAsync("_UpdateMeeting", Model.SelectedMeeting);
            }
        }
        if (Model.DataDisplayMode == DataDisplayModes.Insert)
        {
            await Html.RenderPartialAsync("_InsertMeeting", new Meeting());
        }
    }
}
